Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@shivamChopraCodes 
shivamChopraCodes
/
avatar-guide
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Try out GitHub Discussions! Beta
Discussions allows community members to start conversations and ask questions without opening issues. Get started by toggling Discussions under Features.

avatar-guide/.gitignore
@shivamChopraCodes
shivamChopraCodes complete guid
Latest commit e28be00 4 days ago
 History
 1 contributor
24 lines (19 sloc)  324 Bytes
  
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
